




.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 510px;
    padding-bottom: 45px;
  }
  
  .hero h1{
    padding-top: 30px;
    background: linear-gradient(to right, #ff4e50, #f9d423);
    background-clip: text;
    color: transparent;
    text-align: center;
    font-weight: 900;
    font-size: 3rem;
  }
  
  
  .hero .button1 {
    margin-top: 30px;
    width: 360px;
    height: 45px;
    box-shadow: 0 4px 0 rgba(255, 0, 0, 0.5);
    border-radius: 30px;
  }
  
  .hero .button1:active {
    box-shadow: 0 0 0 rgba(255, 0, 0, 0.2);
    transform: translateY(3px);
    color: white; 
  }
  



  .features-section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .features-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  
  .feature-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .feature-image {
    max-width: 399px;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
  }

  .features-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
  } 

  .features-title{
    height: 100px;
    font-size: 13rem;
    text-align: center;
  }

  .feature-title {
    margin-top: 20px;
    color: #333;
  }
  
  .feature-description {
    font-size: 1rem;
    color: #636;
  }
  

.about-section {
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
}

.about-description {
    text-align: justify;
    margin-bottom: 30px;
}

.team-members {
    margin-bottom: 30px;
}

.team-members h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.team-members ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.team-members ul li {
    display: inline-block;
    margin-right: 20px;
}

.team-members ul li:last-child {
    margin-right: 0;
}

.github-link {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}


@media screen and (max-width: 768px) {
    .feature-item {
      width: calc(50% - 20px); /* Adjust for smaller screens */
    }
  }
  
  @media screen and (max-width: 480px) {
    .feature-item {
      width: 100%; /* Stack items on smaller screens */
    }
  }