{% extends "base.html" %}

{% block navmenu %}
  {% if current_user.is_authenticated %}
      <div class="menu">
        <a href="{{url_for('logout')}}"><button class="button1">Log Out</button></a>
      </div>
  {% else %}
      <div class="menu">
        <a href="{{url_for('login')}}"><button class="button">Log in</button></a>
        <a href="{{ url_for('register') }}"><button class="button1">Sign up</button></a>
      </div>
  {% endif %}
{% endblock navmenu %}


{% block content %}
{% if current_user.is_authenticated %}
<div class="content">
  <form method="post">
    <h3>Enter a chat room</h3>
    <div class="label">
        <img class="avatar_join" src="{{ url_for('static', filename='avatars/' + current_user.avatar) }}" alt="User Avatar">
        <label name="{{ username }}" >{{name}}</label>
    </div>
    <div class="join">
        <input type="text" placeholder="Room Code" name="code" value="{{code}}">
        <button type="submit" name="join">Join a Room</button>
    </div>
    <button type="submit" name="create">Create a Room</button>
    {% if error %}
        <ul><li>{{error}}</li></ul>
    {% endif %}
  </form>
</div>

{% else %}
    <div class="hero">
      <h1>CONNECT LIVE and<br> CHAT</h1>
      <a href="{{url_for('register')}}"><button class="button1">GET STARTED</button></a>
    </div>
    <section class="features-section">
      
      <div class="features-grid">
          
          <div class="feature-item">
              <div class="features-text">
                <h3 class="feature-title">Seamless chating experience with socketio</h3>
                <p class="feature-description">instant live chatting with rooms and messages</p>
              </div>
          </div>
          <div class="feature-item">
              <div class="features-text">
                <h3 class="feature-title">Keeps chat logs with session managment</h3>
                <p class="feature-description">Keeps track of the live chat until all members that are
                  sharing messages leave</p>
              </div>
          </div>
      </div>
    </section>

  <section class="about-section">
    <div class="container">
        <h2 class="section-title">About Us</h2>
        <div class="about-description">
            <p>
              This project is a culmination of weeks of dedication and hard learning, to make a difference.
              It's not just a project; it's a testament to my commitment and learning progress at the ALX programme
              to strive for excellence.</p>
            <p>
              This project is part of my Portfolio for Alx Software Engineering Programme.
              you can view my profile and the repository below</p>
        </div>
        <div class="team-members">
            <ul>
                <li><a href="https://et.linkedin.com/in/leul-h-worku-b670a0279" target="_blank">LinkedIn</a></li>
                <li><a href="https://github.com/leoworqu" target="_blank">GitHub</a></li>
            </ul>
        </div>
        <div class="github-link">
            <a href="https://github.com/leoworqu/portfolio_LIVE_CHAT" class="button1" target="_blank">View Project on GitHub</a>
        </div>
    </div>
  </section>
{% endif %}

{% endblock content %}

