<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BaleMUYA</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/services.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/service.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='Favlogo.jpg') }}">
</head>
<body>

    <nav class="navbar">
      <div class="logo">
        <a href="/"> 
          <img src="{{ url_for('static', filename='logo 1.png') }}" alt="Logo">
        </a>
      </div>
      {% block navmenu %}{% endblock %}
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash flash-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}

    <footer class="footer">
      <p>Muya © by baleMuya INC</p>
    </footer>

  <script src="{{ url_for('static', filename='css/script.js') }}"></script>
</body>
</html>