<div class="s_header">
    <h1>SERVICES</h1>
    {% include "search.html" %}
</div>
<div class="card-list">
    {% for post in posts %}
        <a href="{{url_for('service', service_id = post.id)}}" class="card-item">
            <img src="{{ url_for('static', filename='service_images/' + post.image_files) }}" alt="Card Image">
            <span class="developer">Category</span>
            <h3>{{post.title}}</h3>
            <p>{{post.content}}</p>
            <div class="cont">
                <i class="fas fa-arrow-right card-icon"></i>
                    <div class="s_profile-info">
                    <img src="{{url_for('static', filename='profile_images/' + post.author.image_file )}}" alt="Profile Picture">
                    </div>     
            </div> 
        </a>
    {% endfor %}
</div>