{% extends "base.html" %}

{% block navmenu %}
  {% if current_user.is_authenticated %}
      <div class="menu">
        <a href="{{url_for('create_service')}}"><button class="button">Create a service</button></a>
        <a href="{{url_for('account')}}"><button class="button">Account</button></a>
        <a href="{{url_for('logout')}}"><button class="button1">Log Out</button></a>
      </div>
  {% else %}
      <div class="menu">
        <a href="{{url_for('login')}}"><button class="button">Log in</button></a>
      </div>
  {% endif %}
{% endblock navmenu %}

{% block content %}
<div class="container">
    <div class="service-header">
      <h1>{{service.title}}</h1>
      {% if current_user == service.author %}
        <div class="del-upd">
          <a href="{{url_for('update_service', service_id=service.id)}}"><button class="button">Update Service</button></a>
        

          <div class="modal-container" id="modal">
            <div class="modal-content">
              <span class="close-button" onclick="closeModal()">&times;</span>
              <h2>DELETE SERVICE</h2>
              <p>Are you sure you want to delete?!</p>
              <form action="{{url_for('delete_service', service_id=service.id)}}" method="POST">
                  <button class="button1">Delete</button>
              </form>
              
            </div>
          </div>
        
        <button class="button1" onclick="openModal()">Delete</button>
        </div>
      {% endif %}

      <div class="service-images">
        <img src="{{ service_image }}" alt="Image 1">
        <img src="{{ service_image }}" alt="Image 2">
        <img src="{{ service_image }}" alt="Image 3">
      </div>
      
    </div>
    
    <div class="gig-description">
      <h2>About This Service</h2>
      <p>{{service.content}}</p>
    </div>
  
    <div class="container">
        <h2 class="sp_header">Service Provider</h2>
        <div class="profile-header">
          <div class="profile-info">
            <img src="{{url_for('static', filename='profile_images/' + service.author.image_file )}}" alt="Profile Picture">
            <div class="profile-details">
              <h1>{{service.author.username}}</h1>
              <p>Freelance Web Developer</p>
              <p>New York, USA</p>
            </div>
          </div>
          <div class="rating">
            <p>5.0</p>
            <img src="{{ url_for('static', filename='star.svg') }}" alt="Star Icon">
            <span>(120 reviews)</span>
          </div>
        </div>
        
        <div class="services">
          <div class="service">
            {% include "my_services.html" %}
          </div>
        </div>
      </div>
      
      <div class="review-section">
      <h2>Reviews</h2>
        {% if reviews %}
          {% for review in reviews %}
          <!-- Review Section -->
          
            <div class="review">
              <div class="rating">
                <p>5.0</p>
                <img src="{{ url_for('static', filename='star.svg') }}" alt="Star Icon">
              </div>
              <p class="comment">{{review.comment}}</p>
              <p class="author">- {{review.review_author.username }}</p>
            </div>
          
          {% endfor %}
        {% else %}
        <h2>No Reviews yet!</h2>
        {% endif %}
      </div>
      {% if current_user.is_authenticated %}
        <form method="POST" action="" class="form">
            {{ form.hidden_tag() }}
            <fieldset class="fieldset">
                <legend class="legend">Leave a Review</legend>
                <div>
                    {{  form.comment.label(class="") }}
                    {{  form.comment(class="input") }}
                </div>
                <div class="checkbox-container">
                    {{  form.like_or_dislike.label(for="myCheckbox", class="checkbox-checkmark") }}
                    {{  form.like_or_dislike(type="checkbox", class="checkbox-input", id="myCheckbox") }}
                </div>
            </fieldset>
            <div>
                {{  form.submit(class="submit") }}
            </div>
        </form>
        {% endif %}
    
  </div>

  {% endblock content %}