
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
form {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.join button {
    margin-top: 20px;
}
h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form div {
    margin-bottom: 15px;
}

.label {
    display: flex;
    gap: 10px;
    align-items: center;
}

label {
    display: block;
    font-weight: bold;
    color: #555;
}

.label input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.join input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.label input[type="text"]:focus {
    border-color: #6a5acd;
    outline: none;
}

.join input[type="text"]:focus {
    border-color: #6a5acd;
    outline: none;
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #6a5acd;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #5b4db2;
}

ul {
    padding: 0;
    margin: 10px 0 0;
    list-style-type: none;
    color: #d9534f; /* Bootstrap danger color */
}

.error {
    font-weight: bold;
}


.message-box {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 60vw;
    align-items: stretch;
  }
  
.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
  }
  
.inputs {
    padding: 10px;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
  }
  
h2 {
    text-align: center;
  }
  
#message {
    flex: 1;
  }
  
.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  
.muted {
    font-size: 10px;
    color: darkgray;
  }

.message-box button {
    width: 10%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #6a5acd;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.message-box button:hover {
    background-color: #5b4db2;
}
